<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Find a worker near you, compare prices and set a favourable day!</h2>
        <p class="lead">Taglich is a platform meant to make it easier for the clients to find a daily worker and for the workers to find new clients. Thereby, we want to create a daily working market where one can find people who do some sort of jobs or offer himself to do a job.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
