<aside class="call-to-action bg-primary">
  <div class="container">
      <div class="row text-center">
         <div class="col-lg-10 col-lg-offset-1">
            <h2>TEAM</h2>
            <hr class="small">
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/bogdan.jpg" class="img-rounded"/>
                     </i> 
                     </span>
                     <h4>
                        <strong>Bogdan Cheleș</strong>
                     </h4>
                     <p>Backend Developer <br>bogdan.cheles@gmail.com</p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/mihai.jpg" class="img-rounded"/></i>
                     </span>
                     <h4>
                        <strong>Mihai Despotovici</strong>
                     </h4>
                     <p>Product Owner <br>
                        despotovici.mihai@gmail.com
                     </p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/anda.jpg" class="img-rounded"/>
                     </i>
                     </span>
                     <h4>
                        <strong>Anda-Alexandra Dorneanu</strong>
                     </h4>
                     <p>Backend Developer <br>andadrn@gmail.com</p>
                  </div>
               </div>
            </div>
            <!-- /.row (nested) -->
         </div>
         <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</aside>
