<aside class="call-to-action bg-primary">
  <div class="container">
      <div class="row text-center">
         <div class="col-lg-10 col-lg-offset-1">
            <h2>TEAM</h2>
            <hr class="small">
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/bogdan.jpg" class="img-rounded"/>
                     </i> 
                     </span>
                     <h4>
                        <strong>DEDICATED</strong>
                     </h4>
                     <p>Our solution is focused on only one thing: improve workers performances in a way that every client will be completely satisfied at the end of the day</p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/mihai.jpg" class="img-rounded"/></i>
                     </span>
                     <h4>
                        <strong>EASY TO USE</strong>
                     </h4>
                     <p>Our app targets every generation, being really intuitive, with a focus on user experience
                     </p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/anda.jpg" class="img-rounded"/>
                     </i>
                     </span>
                     <h4>
                        <strong>FRIENDLY</strong>
                     </h4>
                     <p>Our studies showed that people spend around half an hour for finding a person that suits their needs at any particular moment. That's because there is no centralised method for finding such persons. Taglich offers a friendly environment in which the time of finding a person will be reduced by at least 50%.</p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/anda.jpg" class="img-rounded"/>
                     </i>
                     </span>
                     <h4>
                        <strong>MINDSET</strong>
                     </h4>
                     <p>Our solution will be dedicated to our target audience. Thus we shall analyse all the needs of daily workers or people searching for daily workers and will shape our application for these criteria.</p>
                  </div>
               </div>
            </div>
            <!-- /.row (nested) -->
         </div>
         <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</aside>
