<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>TAGLICH</h1>
    <h3>Your daily assistant for your daily needs</h3>
    <br>
    <form method="POST" action="https://formspree.io/taglich.official@gmail.com" class="test-center">
        <div class="text-center">
            <input type="email" class="form-control form-control-lg" placeholder="Enter your email..." name="email">
        <button type="submit" class="btn btn-lg btn-primary">Notify me!</button>
          </div>
    </form>
  </div>
</header>
