<section id="milestone8" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><b>FIRST SALE</b></h2>
        <p class="lead">First time we tested the MVP in house. We made a bunch of fake users and played with them with them using different scenarios. After fixing all the bugs we could find, we have decided to present it to several people and ask their opinion regarding the current state of the product.</p>
        <p class="lead">The first one was George. He is an actor and designer and he is searching some people who would pay for his graphical skills.
He knew about the idea a long time ago and now he really enjoyed using our application.
He was somehow disapointed by the lack of some promising functionality, but, in the end, he said that he will use it for sure as part of his routine.</p>
        <p class="lead">Sebastian can't keep up with housework, but is willing to pay someone to help him.
The problem is that he needs someone only sometimes and would like an application to easy call someone fast enough whenever he needs to.
We let him use the application and said that it is exactly what he needs.</p>
        <p class="lead">
Mircea is a fotball player. He needs some money sometimes and has some knowledge about training in a gym.
He could be a personal trainer for somebodies and give them tips when needed, in exchange for some money.
After using the application, he said that he would use it in the future because it is all he needs.</p>
        <p class="lead">Larisa is a software developer and she does not understand the daily problems that require repairs.
For her, this application is very useful because it does not have to call on known people or buy the various tools needed for the various issues.
One thing she wants from the application is to have a mobile version in the future.</p>
        <p class="lead">Florin is a plumber and thinks the application is a development opportunity for him because he is currently working only with people who know him.
Through this application, it can work for more people and can have a much better income.
He considers that the application must have a dynamic payment system depending on how it moves,
what materials it consumes because two jobs of the same type may be different in terms of the raw material used.</p>
        <p class="lead">Ioana is retired and takes care of the children. For her, the application is very useful as it can find people who need a babysitter much easier.
Before she knew about the application, Ioana only cared about the children of her closest neighbors.
Ioana believes that the application is also easy to use by people with less experience in using new technologies.
She would not change anything to the application.</p>
        <p class="lead">Mihai has several properties that he rents to tourists during the summer season.
He said that an application of this kind is very useful Since we are in businessulu run it appear very often technical problems at properties it owns
and would be much easier to gaseaseasca quickly people who know how to repair those hatches , through the application.
At the same time, he would like to be able to play a role as a worker as he can also provide the accommodation service.
Such an application is beneficial in both ways for him, both in the development and maintenance of his business.
Mihai is pleased with the application, but would like a number of features that would help him choose and reward a service as he likes.
It would add a way of feedback to see who those workers are trustworthy to.
Besides this, it would add a jump system to give people who have done a really good job.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
