<section id="milestone5" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><b>LEAD GENERATION AND COLLECTION</b></h2>
        <h3><b>Lead collection section on our landing page</b></h3>
        <p class="lead">We have modified our <a href="https://mailchi.mp/f3d08dd10b08/taglich">landing page TODO</a> so that it contains a collection section. People can subscribe to our newsletter with their email address.</p>
        <img src="img/taglich_subscribe.png">
        <h3><b>Analytics on our landing page</b></h3>
        <p class="lead"><b>Google Analytics</b></p>
        <p class="lead">TODO</p>
        <p class="lead"><b>HotJar</b></p>
        <p class="lead">TODO</p>
        <h3><b>Conversion rate</b></h3>
        <p class="lead">TODO</p>
        <h3><b>Bring people on our landing page</b></h3>
        <p class="lead">In order to promote our landing page we have created a Facebook <a href="https://www.facebook.com/taglich.official">page.</a></p>
        <p class="lead">In time, we have noticed that many people use Facebook groups to search daily workers and daily workers post to such groups as well. Taking this into account, we have decided to promote our application on Facebook.</p>
        <p class="lead">We have posted a brief description of the application and invited people to subscribe to our newsletter.</p>
        <img src="/img/fb_share.png">
        <p class="lead">We have noticed that it has been easier to promote the application using the Facebook page because of the large number of Facebook users. We have invited people to like our page using the <i>Invite</i> Facebook option and we also shared the page to our friends on Facebook Messenger. TODO: Linkedin</p> 
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
