<section id="milestone1" class="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h2><b>FIKI AND PROJECT DESCRIPTION<b/></h2>
            <p class="lead">In this milestone we are going to give you an overview of our project. We will start by describing the problem we have identified and the solution we came up with. Also, we are going to give a brief overview of the customer segments, competition, key metrics, cost structure and revenue streams.</p>
            <h3><b>Problem: shortage of daily workers</b></h3>
            <p class="lead">Daily workers are hard to find these days. These have to do a job in a relatively short and limited time, but the amount of time needed to find one might be bigger than the actual time needed to just to the job. Moreover, the daily workers are not very happy with this situation because their clients tend to be lazy and get a well known company to do the job instead of searching for a good daily worker.</p>
            <h3><b>Solution: a platform for people who offer and people who seek services</b></h3>
            <p class="lead">We propose a platform meant to make it easier for the clients to find a daily worker, and for the workers to find new clients. Thereby, we want to create a waily working market where one can find people who do some sort of jobs or offer himself to do a job</p>
            <h3><b>Customer segments</b></h3>
            <p class="lead">Cleaning, Babysitting, Agriculture Workers, Plumber, Electrician etc.</p>
            <h3><b>Competion</b></h3>
            <p class="lead">At the moment, in Romania, the competition is very low. There are some universal platforms ment for goods publicity, without any purpose of exceling on this niche: Publi24, Olx, La Jumate.</p>
            <h3><b>Advantages over the competition</b></h3>
            <p class="lead"><i>Dedicated, easy to use, friendly</i><br>Our solution will be better that the competition because it will be dedicated to our target audience. Thus we shall analyze all the needs of daily workers or people searching for daily workers and will shape our application for these criteria.</p>
            <h3><b>Key metrics</b></h3>
            <p class="lead">One of the key metric is the number of users, but only this number is not enough. We will get the amount of time a client is searching for a daily worker and we will also count how many deals have actually been closed. The most important key metric will be the satisfaction of the daily workers, because they are the ones who actually bring value for the application, because they are the actual product sold by the application and we need them to scale.</p>
            <h3><b>Cost structure</b></h3>
            <p class="lead">The only cost we have to pay is for the domain and hosting the application in the cloud (database and web machines).</p>
            <h3><b>Revenue streams</b></h3>
            <p class="lead">We will impose our daily workers a fee which represents a percentage of their earnings. We will not tax the clients.
            </p>
         </div>
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</section>
