
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Validation - Idea</h2>
        <p class="lead"> We made 2 types of questionarries: 
          <ul>
            <li class="lead"> <b> CLIENT </b> </li>
            <p class="lead">We expect a client would use our app at least twice a month. Our predictive persona would be employed, older than 24 and would optionally have children. He / she would be living in a city with more than 200.000 inhabitants, which would make it more difficult to know particular "daily workers" that they would reach out to in order to solve various problems. Also, living in a big city would mean that our person will be more socially involved (goes out often, has many outdoor opportunities, so spends little time home with children / cleaning).</p>
            <p class="lead"> <b> </b> Questions for clients: </p>
            <ul style="list-style-type:disc">
              <li class="lead"> How old are you? <i> Answers: </i> 23 - 38 years old. </li>
              <li class="lead"> Are you employed? <i> Answers: </i> 94% of them were employed. </li>
            </ul>
            <p class="lead"> <b> </b> YES/NO Answers: </p>
            <table>
              <tr>
                <th>Question</th>
                <th>Expected YES</th>
                <th>Answered YES</th>
              </tr>
              <tr>
                <td>If I had children, I would prefer to use the app (babysitters rated by other users) instead of relying on a friend to leave them with.</td>
                <td>&lt 35% (6)</td>
                <td>11% (2)</td>
              </tr>
            </table>
            <li class="lead"> <b> WORKER </b> </li>
          </ul>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
