<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<section id="milestone2" class="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h2><b>VALIDATION 1 (IDEA)</b></h2>
            <h3><b>How we identified the problem</b></h3>
            <p class="lead">Over the past months we have noticed that in various Facebook groups (e.g. I love Drumul Taberei) people were always seeking daily workers recommendations. Moreover, there were people, such plumbers, who posted their phone number in order to be reached for jobs. </p>
            <p class="lead">Facebook groups contain many posts and it is quite difficult to keep a record of specific posts such as those posted by people searching for a daily job. We were often faced with similar situations, hence we decided that there should be an easier way to reach daily workers.</p> 
            <h3><b>Solution</b></h3>
            <p class="lead"> Our solution consists in developing a web platform which can be used by people to find daily workers and by workers to find new clients. The platform will require people to register. People will be able to registers as clients or as workers. Workers will choose jobs from those posted by clients.</p>
            <p class="lead"> We made 2 types of questionarries:</p>  
            <ul>
               <li class="lead"><b>CLIENT</b></li>
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSevGMoyqWP1Khw9jYarAiKCKvnE0oxbG3984VMFcae6UfIOWQ/viewform?embedded=true" width="640" height="1722" frameborder="0" marginheight="0" marginwidth="0">Se încarcă...</iframe>
               <p class="lead">We expect a client would use our application at least twice a month. Our predictive persona would be employed, older than 24 and would optionally have children. He / she would be living in a city with more than 200.000 inhabitants, which would make it more difficult to know particular "daily workers" that they would reach out to in order to solve various problems. Also, living in a big city would mean that our person will be more socially involved (goes out often, has many outdoor opportunities, so spends little time home with children / cleaning).</p>
               <h3><b>Questions for clients:</b></h3>
               <ul style="list-style-type:disc">
                  <li class="lead"> How old are you? <i> Answers: </i> 23 - 38 years old. </li>
                  <li class="lead"> Are you employed? <i> Answers: </i> 94% of them were employed. </li>
               </ul>
               <h3><b>YES/NO Answers:</b></h3>
               <table>
                  <tr>
                     <th class="lead"><b>QUESTION</b></th>
                     <th class="lead"><b>EXPECTED YES</b></th>
                     <th class="lead"><b>ANSWERED YES</b></th>
                  </tr>
                  <tr>
                     <td class="lead">If I had children, I would prefer to use the application (e.g. babysitters rated by other users) instead of relying on a friend to leave them with.</td>
                     <td class="lead"> &lt 35% (6)</td>
                     <td class="lead"> 11% (2)</td>
                  </tr>
                  <tr>
                     <td class="lead">If something breaks in my house, I try to reach out to someone instead of fixing it myself.</td>
                     <td class="lead"> &gt 70% (12)</td>
                     <td class="lead"> 55% (10)</td>
                  </tr>
                  <tr>
                     <td class="lead">I know who to reach out to for fixing broken stuff in my house.</td>
                     <td class="lead"> &lt 30% (5)</td>
                     <td class="lead"> 0% (0)</td>
                  </tr>
                  <tr>
                     <td class="lead">I go out more than 3 times a week.</td>
                     <td class="lead"> &gt 50% (9)</td>
                     <td class="lead"> 50% (9)</td>
                  </tr>
                  <tr>
                     <td class="lead">In general, I prefer to reach out to professional workers for any sort of job (Cleaning, Babysitting, Plumber, Electrician etc) rather than improvising.</td>
                     <td class="lead"> &gt 40% (7)</td>
                     <td class="lead"> 77% (14)</td>
                  </tr>
               </table>
               <li class="lead"> <b> WORKER </b> </li>
               <p class="lead">We expect a worker would also find it difficult to find customers, would use the 
                 
                 
                 
                 
                 for a small fee in order to get rid of the searching process, especially since he / she would have the opportunity to set the price for the service offered.</p>
               <h3><b>Questions for workers:</b></h3>
               <ul style="list-style-type:disc">
                  <li class="lead"> How often do you have to look for customers because there is no work to do at the moment? expected more often than three times a week <i> Answers: </i> 80% of them answered “often” and 20% answered “never”. </li>
               </ul>
               <h3> <b>YES/NO Answers:</b></h3>
               <table>
                  <tr>
                     <th class="lead"><b>QUESTION</b></th>
                     <th class="lead"><b>EXPECTED YES</b></th>
                     <th class="lead"><b>ANSWERED YES</b></th>
                  </tr>
                  <tr>
                     <td class="lead">My timetable fills only with regular customers and I don't need to look for more.</td>
                     <td class="lead"> &lt 20%</td>
                     <td class="lead"> 20% (1)</td>
                  </tr>
                  <tr>
                     <td class="lead">It is easy for me to find customers via friends/other customers.</td>
                     <td class="lead"> &lt 30%</td>
                     <td class="lead"> 20% (1)</td>
                  </tr>
                  <tr>
                     <td class="lead">If a matching application for clients &lt-&gt workers existed, I would give up a small percentage of my earnings instead of struggling to search for customers.</td>
                     <td class="lead"> &gt 40%</td>
                     <td class="lead"> 80% (4)</td>
                  </tr>
                  <tr>
                     <td class="lead">If I were to be given a 1 month free trial and then be prompted to subscribe, I would at least try the application</td>
                     <td class="lead"> &gt 80%</td>
                     <td class="lead"> 80% (4)</td>
               </table>
               <br>
               <h3><b>Comments:</b></h3>
               <p class="lead">We gave this questionnaire to 18 clients: students, coleagues from work and some friends. Also, we asked 5 people who work as freelancers or do some kind of work on their own and gave them the questionnaire for workers. We asked all of them to be as honest as possible. Even though the clients didn’t answer as expected the second question, the answers for the last question made us think that they try at first to fix alone the broken things, but, in the final, they know that they need professional help. The fact that all of them answered that they don’t know how to reach any kind of professional help indicates that they really need our application. The workers’ answers were unexpectedly uniform: 4 of 5 don’t have enough clients and would need our application, but one of them is very sure that he has enough clients and don’t need more. This strongly encourages us to move to the next step.</p>
            </ul>
         </div>
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</section>
