<section id="milestone6" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><b>MARKET RESEARCH</b></h2>
        <h3><b>Size of the target market</b></h3>
        <p class="lead">We address 2 different sub-markets, namely: workers - people willing to find a daily job using our application and clients - people willing to find a daily worker suited to their needs and expectations through our platform.
</p>
        <p class="lead">According to an Eurostat survey regarding the Internet access and usage, 76% of the Romanian households have internet access, whereas 64% of the Romanian individuals, aged between 16 and 74 years, use the internet on a regular basis. The proportion of individuals aged between 16 and 74 years who ordered or bought goods or services over the internet for private use in Romania is 18% (~ 2.2 million people).
</p>
        <p class="lead">Considering that our main target clients are living in a city having more than 200 000 citizens, we will first address the market in Bucharest and subsequently, Cluj, Iasi and Timisoara. We will target 250 000 users, who are at least 24 years old and use the internet on a regular basis to buy goods or services over the internet or want to find a daily job, taking into account the previous provided information.

</p>
        <h3><b>Competitors</b></h3>
        <p class="lead">In the targeted market we did not manage to identify direct competitors, due to the fact that at the current moment there are no dedicated platforms for the problem we address. However, there are 3 online platforms which allow users to publish different adverts, namely: La jumate, OLX and Publi24. We take into account that our targeted clients and workers may use these platforms as well.
</p>
        <h3><b>Possible market share of the competitors</b></h3>
        <h3><bs>Our estimated potential market share in the next 5 years after launch
</b></h3>
        <h3><b>Total market value</b></h3>
        <h3><b>Our value of market share for the next 5 years</b></h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

