<section id="milestone4" class="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
           <h2><b>UX</b></h2>
            <h3><b>Interviews:</b></h3>
            <p class="lead">We interviewed 5 persons. 4 of them are supposed to be clients, the other being the worker. All 5 of them were interested in using our application so we thought we could get a better idea of how to improve our design by talking to them.</p>
            <h3><b>Client 1:</b></h3>
            <p class="lead">Q: How many times a month you require daily workers? (plumbers, babysitters etc.)</p>
            <p class="lead">A: 3<br></p>
            <p class="lead">Q: How do you usually reach daily workers when needed?</p>
            <p class="lead">A: By phone after finding them on lajumate.ro.<br></p>
            <p class="lead">Q: Do you ask recommendations via Facebook or other websites for daily workers?</p>
            <p class="lead">A: No.<br></p>
            <p class="lead">Q: Have you encountered problems when working with a daily worker? How did you solve them?</p>
            <p class="lead">A: No.<br></p>
            <p class="lead">Q: How many times a month would you consider using our application?:</p>
            <p class="lead">A: 5<br></p>
            <p class="lead">Q: How would you expect the process of reaching a daily worker to take place?</p>
            <p class="lead">A: By text, with the possibility to easily send a location.</p>
            <p class="lead">Q: Would you want the history of matches to be kept in order to reach out to the same workers?</p>
            <p class="lead">A: Yes, especially if their work was exceptional.</p>
            <p class="lead">Q: What would be the decisive factor that will make you continue using our application?</p>
            <p class="lead">A: A reasonable pool of available workers.<br></p>
            <h3><b>Client 2:</b></h3>
            <p class="lead">Q: How many times a month you require daily workers? (plumbers, babysitters etc.)</p>
            <p class="lead">A: 0<br></p>
            <p class="lead">Q: How do you usually reach daily workers when needed?</p>
            <p class="lead">A: I google it.<br></p>
            <p class="lead">Q: Do you ask recommendations via Facebook or other websites for daily workers?</p>
            <p class="lead">A: No.<br></p>
            <p class="lead">Q: Have you encountered problems when working with a daily worker? How did you solve them?</p>
            <p class="lead">A: The worker didn’t do his job perfectly, so I had to call him again and finish the job in a proper manner.<br></p>
            <p class="lead">Q: How many times a month would you consider using our application?:</p>
            <p class="lead">A: 3<br></p>
            <p class="lead">Q: How would you expect the process of reaching a daily worker to take place?</p>
            <p class="lead">A: Just a search, two taps and that would be it.</p>
            <p class="lead">Q: Would you want the history of matches to be kept in order to reach out to the same workers?</p>
            <p class="lead">A: Yes</p>
            <p class="lead">Q: What would be the decisive factor that will make you continue using our application?</p>
            <p class="lead">A: Fast services<br></p>
            <h3><b>Client 3:</b></h3>
            <p class="lead">Q: How many times a month you require daily workers? (plumbers, babysitters etc.)</p>
            <p class="lead">A: 0<br></p>
            <p class="lead">Q: How do you usually reach daily workers when needed?</p>
            <p class="lead">A: I google it.<br></p>
            <p class="lead">Q: Do you ask recommendations via Facebook or other websites for daily workers?</p>
            <p class="lead">A: No.<br></p>
            <p class="lead">Q: Have you encountered problems when working with a daily worker? How did you solve them?</p>
            <p class="lead">A: The worker didn’t do his job perfectly, so I had to call him again and finish the job in a proper manner.<br></p>
            <p class="lead">Q: How many times a month would you consider using our application?</p>
            <p class="lead">A: As many times as it takes, I am quite tired of trying to reach out to such workers by myself without having the certainty that they will eventually come and fix my problem.<br></p>
            <p class="lead">Q: How would you expect the process of reaching a daily worker to take place?</p>
            <p class="lead">A: I would like to be able to select my problem, input my address and be found by one of the workers. I would also want to be able to tell if the worker is serious and usually does a good job. I would not want my problems to turn into something worse.</p>
            <p class="lead">Q: Would you want the history of matches to be kept in order to reach out to the same workers?</p>
            <p class="lead">A: I think that would be useful. I would like to collaborate with a good worker again.</p>
            <p class="lead">Q: What would be the decisive factor that will make you continue using our application?</p>
            <p class="lead">A: As previously stated, as long as the work gets done quickly and properly, I will keep on using it.<br></p>
            <h3><b>Client 4:</b></h3>
            <p class="lead">Q: How many times a month you require daily workers? (plumbers, babysitters etc.)</p>
            <p class="lead">A: Almost never. 3-4 times a year.<br></p>
            <p class="lead">Q: How do you usually reach daily workers when needed?</p>
            <p class="lead">A: I ask a friend if he knows someone who can help me. Then I search online. <br></p>
            <p class="lead">Q: Do you ask recommendations via Facebook or other websites for daily workers?</p>
            <p class="lead">A: Rarely.<br></p>
            <p class="lead">Q: Have you encountered problems when working with a daily worker? How did you solve them?</p>
            <p class="lead">A: I did not, but if I did, I would simply talk to them.<br></p>
            <p class="lead">Q: How many times a month would you consider using our application?</p>
            <p class="lead">A: Every time I need someone to take care of my problems, which means that has to happen fast.<br></p>
            <p class="lead">Q: How would you expect the process of reaching a daily worker to take place?</p>
            <p class="lead">A: I would like the process to be really simple. Probably I will have a profile page and all I would have to do is choose one particular problem and appear in a list of clients from which workers can choose from. The worker would see the addresses and choose carefully in order to be there really quick. Also I would like to be able to say no to a worker, if he previously did poor work. Thus, I think a rating system would be useful.</p>
            <p class="lead">Q: Would you want the history of matches to be kept in order to reach out to the same workers?</p>
            <p class="lead">A: Not necessarily, but I think it could help if you ever want to choose a particular worker for some similar job.</p>
            <p class="lead">Q: What would be the decisive factor that will make you continue using our application?</p>
            <p class="lead">A: Good and quick work from the matching workers.<br></p>
            <h3><b>Worker 1:</b></h3>
            <p class="lead">Q: How many times a month a client reaches you?</p>
            <p class="lead">A: It depends.<br></p>
            <p class="lead">Q: How does a client reach you?</p>
            <p class="lead">A: They call me.<br></p>
            <p class="lead">Q: Do you use Facebook or other websites to find clients?</p>
            <p class="lead">A: Yes, I usually post on Facebook groups.<br></p>
            <p class="lead">Q: Have you encountered problems when working with a client? How did you solve them?</p>
            <p class="lead">A: No.<br></p>
            <p class="lead">Q: How many times a month would you consider using our application?</p>
            <p class="lead">A: As often as possible, since I am not quite able to find work myself. My hope is I will be more efficient in my activity when the application gets launched.<br></p>
            <p class="lead">Q: How would you expect the process of reaching a client to take place?</p>
            <p class="lead">A: I would like to see lists of open jobs where the address is very obvious so I can also optimize my routes and be at the clients on time.</p>
            <p class="lead">Q: Would you want the history of matches to be kept?</p>
            <p class="lead">A: From my point of view, not necessarily, but I do not think it would be a problem if that is kept.</p>
            <p class="lead">Q: What would be the decisive factor that will make you continue using our application?</p>
            <p class="lead">A: I expect to find jobs quickly. If that does not happen, I will probably look for a better option. But after I manage to solve certain people's problems, maybe that will make them become regulars.<br></p>
            <h3><b>User Persona:</b></h3>
            <ul>
               <li class="lead"><b>Name:</b> Alex</li>
               <li class="lead"><b>Age:</b> 27</li>
               <li class="lead"><b>Status:</b> employed in the corporate environment</li>
               <li class="lead"><b>Education:</b> graduated a university</li>
               <li class="lead"><b>Location:</b> based in Bucharest</li>
               <li class="lead"><b>Mannerisms:</b> modern, passionate about technology, socially active, "time is money" driven person</li>
               <li class="lead"><b>Issues:</b> little time to spend outside work, needs to automate certain processes in his day-to-day life</li>
            </ul>
            <h3><b>User stories resulted from the interviews:</b></h3>
            <p class="lead"><b>Client:</b></p>
            <ul>
               <li class="lead">would like to rate a worker's performance (1-5 stars?)</li>
               <li class="lead">would like to refuse a worker based on his rating</li>
            </ul>
            <p class="lead"><b>Worker:</b></p>
            <ul>
               <li class="lead">would prefer to have a list of clients to be displayed to choose a job based on the address in order to optimize the routes</li>
            </ul>
            <h3><b>User flows:</b></h3>
            <p class="lead"><b>Client:</b> Registers -&gt fills in profile details when he/she has a problem -&gt picks a problem from a list and is inserted into a list that the workers can see -&gt is matched to a worker -&gt accepts/denies -&gt can rate the worker.</p>
            <p class="lead"><b>Worker:</b> Registers -&gt fills his job type -&gt chooses a client from a list -&gt can be rated</p>
            <h3><b>Landing page</b></h3>
            <p class="lead">TODO</p>
         </div>
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</section>
