<section id="milestone7" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><b>MVP</b></h2>
        <p class="lead">Our MVP can be found <a href="https://github.com/horiazegheru/Taglich">here</a>.</p>
        <h3><b>MVP value</b></h3>
        <p class="lead">When finding out the possible users' <a href="#milestone4">opinion</a> on how the application should work, we noticed that the general opinion was that the application should have an intuitive interface and it should be easy to use to use such as Uber is. Based on this validation, we decided that our MVP should have the following features: sign up, sign in, post daily jobs(client), accept daily jobs(worker).</p>
        <p class="lead">Below you can see the previously mentioned features. <br/>
          This is the page a client sees when he wants to view his/her posted jobs: </br>
          <img src="img/client_my_jobs.png" width="1024"/> <br/>
          This is the page a client sees when he/she wants to post a job:
          <img src="img/client_request_worker.png" width="1024"/> <br/>
          This is the page a worker sees when he/she is searching for jobs:
          <img src="img/worker_search_job.png" width="1024"/>  <br/>
        </p>
        <h3><b>Future benefits</b></h3>
        <p class="lead">We did not manage to implement the rating system that possible users told us it would be great to have, but we included a message in the footer section which informs users that this feature will be available soon.</p>
        <h3><b>Feedback loop</b></h3>
        <p class="lead">We included a button in the footer section so that users can send us an email if they want to send us their feedback or any other questions, as can be seen in the previously uploaded images.</p>
        
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
