
<section id="milestone2" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Wireframe and Landing Page</h2>
        <h1><b>Interviews:</b></h1>
        <p class="lead">We interviewed 3 persons. Two of them are supposed to be clients, the other being the worker. All 3 of them were interested in using our app so we thought we could get a better idea of how to improve our design by talking to them.</p>
        <p class="lead">The interview consisted of the following questions:</p>
        <ol>
          <li class="lead">How many times a month will you be using our app?</li>
          <li class="lead">How would you expect the process to take place?</li>
          <li class="lead">Would you want the history of matches to be kept?</li>
          <li class="lead">What will be the decisive factor that will make you continue using our app?</li>
        </ol>
        <p class="lead"><b>Client 1:</b></p>
        <ol>
          <li class="lead">As many times as it takes, I am quite tired of trying to reach out to such workers by myself without having the certainty that they will eventually come and fix my problem.</li>
          <li class="lead">I would like to be able to select my problem, input my address and be found by one of the workers. I would also want to be able to tell if the worker is serious and usually does a good job. I would not want my problems to turn into something worse.</li>
          <li class="lead">I think that would be useful. I would like to collaborate with a good worker again.</li>
          <li class="lead">As previously stated, as long as the work gets done quickly and properly, I will keep on using it.</li>
        </ol>
        <p class="lead"><b>Client 2:</b></p>
        <ol>
          <li class="lead">Every time I need someone to take care of my problems, which means that has to happen fast.</li>
          <li class="lead">I would like the process to be really simple. Probably I will have a profile page and all I would have to do is choose one particular problem and appear in a list of clients from which workers can choose from. The worker would see the addresses and choose carefully in order to be there really quick. Also I would like to be able to say no to a worker, if he previously did poor work. Thus, I think a rating system would be useful.</li>
          <li class="lead">Not necessarily, but I think it could help if you ever want to choose a particular worker for some similar job.</li>
          <li class="lead">Good and quick work from the matching workers.</li>
        </ol>
        <p class="lead"><b>Worker:</b></p>
        <ol>
          <li class="lead">As often as possible, since I am not quite able to find work myself. My hope is I will be more efficient in my activity when the app gets launched.</li>
          <li class="lead">I would like to see lists of open jobs where the address is very obvious so I can also optimize my routes and be at the clients on time.</li>
          <li class="lead">From my point of view, not necessarily, but I do not think it would be a problem if that is kept.</li>
          <li class="lead">I expect to find jobs quickly. If that does not happen, I will probably look for a better option. But after I manage to solve certain people's problems, maybe that will make them become regulars.</li>
        </ol>
        <p class="lead"><b>User Persona:</b></p>
        <ul>
          <li class="lead"><b>Name:</b> Alex</li>
          <li class="lead"><b>Age:</b> 27</li>
          <li class="lead"><b>Status:</b> employed in the corporate environment</li>
          <li class="lead"><b>Education:</b> graduated a university</li>
          <li class="lead"><b>Location:</b> based in Bucharest</li>
          <li class="lead"><b>Mannerisms:</b> modern, passionate about technology, socially active, "time is money" driven person Issues: little time to spend outside work, needs to automate certain processes in his day-to-day life</li>
        </ul>
        <p class="lead"><b>User stories resulted from the interviews:</b></p>
        <ol>
          <li class="lead>As a client, I want to be able to rate a worker's performance (1-5 stars?)</li>
          <li class="lead>As a client, I want to be able to refuse a worker based on his rating.</li>
          <li class="lead>As a worker, I would like a list of clients to be displayed so I can choose a job based on the address in order to optimize the routes.</li>
        </ol>
        <p class="lead"><b>User flows:</b></p>
        <p class="lead">Client: Registers -&gt fills in profile details when he/she has a problem -&gt picks a problem from a list and is inserted into a list that the workers can see -&gt is matched to a worker -&gt accepts/denies -&gt can rate the worker. Worker: Registers -&gt fills his job type -&gt chooses a client from a list -&gt can be rated</p>
        <p class="lead"><b>Landing page</b></p>
        <p class="lead">https://mailchi.mp/f3d08dd10b08/taglich</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
