<section id="milestone7" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><b>MVP</b></h2>
        <p class="lead">Our MVP can be found <a href="https://github.com/horiazegheru/Taglich">here</a>.</p>
        <p class="lead">Some print-screens: <br/>
          <img src="img/client_my_jobs.png"/>
          <img src="img/client_request_worker.png"/>
          <img src="img/worker_search_job.png"/>
        </p?
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
