
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Validation - Idea</h2>
        <p class="lead"> We made 2 types of questionarries: 
          <ul>
            <li class="lead"> <b> CLIENT </b> </li>
            <p class="lead">We expect a client would use our app at least twice a month. Our predictive persona would be employed, older than 24 and would optionally have children. He / she would be living in a city with more than 200.000 inhabitants, which would make it more difficult to know particular "daily workers" that they would reach out to in order to solve various problems. Also, living in a big city would mean that our person will be more socially involved (goes out often, has many outdoor opportunities, so spends little time home with children / cleaning).</p>
            <p class="lead"> <b>Questions for clients:</b></p>
            <ul style="list-style-type:disc">
              <li class="lead"> How old are you? <i> Answers: </i> 23 - 38 years old. </li>
              <li class="lead"> Are you employed? <i> Answers: </i> 94% of them were employed. </li>
            </ul>
            <p class="lead"><b>YES/NO Answers:</b></p>
            <table>
              <tr>
                <th class="lead"><b>QUESTION</b></th>
                <th class="lead"><b>EXPECTED YES</b></th>
                <th class="lead"><b>ANSWERED YES</b></th>
              </tr>
              <tr>
                <td class="lead">If I had children, I would prefer to use the app (babysitters rated by other users) instead of relying on a friend to leave them with.</td>
                <td class="lead">&lt 35% (6)</td>
                <td class="lead">11% (2)</td>
              </tr>
               <tr>
                <td class="lead">If something breaks in my house, I try to reach out to someone instead of fixing it myself.</td>
                <td class="lead">&gt 70% (12)</td>
                <td class="lead">55% (10)</td>
              </tr>
                  <tr>
                <td class="lead">I know who to reach out to for fixing broken stuff in my house.</td>
                <td class="lead">&lt 30% (5)</td>
                <td class="lead">0% (0)</td>
              </tr>
                  <tr>
                <td class="lead">I go out more than 3 times a week.</td>
                <td class="lead">&gt 50% (9)</td>
                <td class="lead">50% (9)</td>
              </tr>
                  <tr>
                <td class="lead">In general, I prefer to reach out to professional workers for any sort of job (Cleaning, Babysitting, Plumber, Electrician etc) rather than improvising.</td>
                <td class="lead">&gt 40% (7)</td>
                <td class="lead">77% (14)</td>
              </tr>
            </table>
            <li class="lead"> <b> WORKER </b> </li>
            <p class="lead">We expect a worker would also find it difficult to find customers, would use the app for a small fee in order to get rid of the searching process, especially since he / she would have the opportunity to set the price for the service offered.</p>
            <p class="lead"> <b>Questions for workers:</b></p>
            <ul style="list-style-type:disc">
              <li class="lead"> How often do you have to look for customers because there is no work to do at the moment? expected more often than three times a week <i> Answers: </i> 80% of them answered “often” and 20% answered “never”. </li>
            </ul>
            <p class="lead"> <b>YES/NO Answers:</b></p>
            <table>
              <tr>
                <th class="lead"><b>QUESTION</b></th>
                <th class="lead"><b>EXPECTED YES</b></th>
                <th class="lead"><b>ANSWERED YES</b></th>
              </tr>
              <tr>
                <td class="lead">My timetable fills only with regular customers and I don't need to look for more.</td>
                <td class="lead">&lt 20%</td>
                <td class="lead">20% (1)</td>
              </tr>
               <tr>
                <td class="lead">It is easy for me to find customers via friends/other customers.</td>
                <td class="lead">&lt 30%</td>
                <td class="lead">20% (1)</td>
              </tr>
                  <tr>
                <td class="lead">If a matching app for clients &lt-&gt workers existed, I would give up a small percentage of my earnings instead of struggling to search for customers.</td>
                <td class="lead">&gt 40%</td>
                <td class="lead">80% (4)</td>
              </tr>
                  <tr>
                <td class="lead">If I were to be given a 1 month free trial and then be prompted to subscribe, I would at least try the app</td>
                <td class="lead">&gt 80%</td>
                <td class="lead">80% (4)</td>
            </table>
            <br>
            <p class="lead"><b>Comments:</b></p>
            <p class="lead">We gave this questionnaire to 18 clients: students, coleagues from work and some friends. Also, we asked 5 people who work as freelancers or do some kind of work on their own and gave them the questionnaire for workers. We asked all of them to be as honest as possible. Even though the clients didn’t answer as expected the second question, the answers for the last question made us think that they try at first to fix alone the broken things, but, in the final, they know that they need professional help. The fact that all of them answered that they don’t know how to reach any kind of professional help indicates that they really need our application. The workers’ answers were unexpectedly uniform: 4 of 5 don’t have enough clients and would need our application, but one of them is very sure that he has enough clients and don’t need more. This strongly encourages us to move to the next step.</p>
        </ul>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
