<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone1">
                  <img class="img-portfolio img-responsive" src="img/ms1.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone2">
                <img class="img-portfolio img-responsive" src="img/ms2.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone3">
                <img class="img-portfolio img-responsive" src="img/ms3.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone4">
                <img class="img-portfolio img-responsive" src="img/ms4.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone5">
                <img class="img-portfolio img-responsive" src="img/ms5.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone6">
                <img class="img-portfolio img-responsive" src="img/ms6.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone7">
                <img class="img-portfolio img-responsive" src="img/ms7.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone8">
                <img class="img-portfolio img-responsive" src="img/ms8.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#milestone9">
                <img class="img-portfolio img-responsive" src="img/ms9.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
