<aside class="call-to-action bg-primary">
  <div class="container">
      <div class="row text-center">
         <div class="col-lg-10 col-lg-offset-1">
           <h3>REVIEWS</h3>
            <hr class="small">
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/george.jpg" class="img-rounded"/>
                     </i> 
                     </span>
                     <h4>
                        <strong>Anton George</strong>
                     </h4>
                     <p>actor, designer <br/> "I was asked what I was thinking about this idea a long time ago and I told them that I will be their first client. Now that the project began to take shape and I tested it, I can say that I am really locking forward to use it daily and find some clients."</p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/sebastian.jpg" class="img-rounded"/></i>
                     </span>
                     <h4>
                        <strong>Sebastian Ovidiu</strong>
                     </h4>
                     <p>client <br/> "I don't have time to do housework and I need someone to do it for me. I will pay, of course, but I need it only sometimes and this app is exactly what I need." </p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/mircea.jpg" class="img-rounded"/>
                     </i>
                     </span>
                     <h4>
                        <strong>Mircea Tanase</strong>
                     </h4>
                     <p>personal trainer </br> "I am a soccer player, but sometimes I need some extra money. I was presented this app and I am willing to use it to find some people to train them, as a personal trainer. It looks really promising."</p>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                     <i class="fa fa-stack-1x text-primary">
                     <img src="img/mihainanora.jpg" class="img-rounded"/>
                     </i>
                     </span>
                     <h4>
                        <strong>Mihai Nanora</strong>
                     </h4>
                     <p>landlord <br/> "I own a business that deals with renting properties during the summer season. In this business there are always problems with the various properties that I rent and need quick repairs, and this application provides quickness in finding a man with the necessary skill to solve these problems."</p>
                  </div>
               </div>
            </div>
            <!-- /.row (nested) -->
         </div>
         <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</aside>
